.navbar ul{
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 6px;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: #555;
    border-radius: 8px;
}

.navbar {
    background-color: #252525;
}

.navbar li{
    float: left;
}

nav span{
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background-color: linear-gradient(to right, transparent, transparent);
    border-radius: 8px;
    transition: .5s ease;
}

nav a:nth-child(1):hover ~ span{
    left: 0;
    background-color: #555;
}

nav a:nth-child(2):hover ~ span{
    left: 95px;
}

nav a:nth-child(3):hover ~ span{
    left: 190px;
    width: 110px;
}

nav a:nth-child(4):hover ~ span{
    left: 285px;
    width: 115px;
}

nav a:nth-child(5):hover ~ span{
    left: 380px;
    width: 115px;
}

/* responsive navbar */

@media (max-width: 768px) {
    .navbar ul {
        display: flex;
        flex-direction: column;
    }
    .navbar li { float: none; }
}

@media (max-width: 480px) {
    .navbar a { padding: 10px; font-size: 18px; }
}

